.button {
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: green;
}

.test{
  text-align: center;
  cursor: pointer;
  padding: 10px 50px;
  background-color: gray;
}

body{
  background-color: white;
}
