body{
	height: 3000px;
}
/*body *{
  border: 1px solid black;
}*/
table{
	width: 100%;
}
img{
	top:-150;
	width: 100%;
	height: auto;
}
#maincontent,td{
	text-align: center;
}
#maincontent input{
	min-width: 20px;
    min-height: 20px;
    max-width: 400px;
    min-width: 400px;
    border-radius: 3px;
    padding:5px;
    font-size: 25px;
}
#maincontent button{
	border:1px solid rgb(133,133,133);
	border-radius: 4px;
	margin:5px;
	padding:12px;
	font-size: 17px;
	max-width: 400px;
	min-width: 400px;
}

#maincontent button:hover{
	cursor: pointer;
	background-color: #227bba;
	color: white;
}
