.topmenu {
  margin: 0;
  padding: 0px;
  padding-top: 10px;
  padding-bottom:  10px;
  width: 100%;
  list-style-type: none;
  background-color: #227bba;
  text-align: center;
  /*PER AVERLO FISSO IN CIMA  */
  position: fixed;
  top: 0;
  z-index: 10;
}

li {
  display: inline;
}

li>a {
  display: inline-block;
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: helvetica;
  font-size: 30px;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
color: #0a62a1;}

#profile{
  float: right;
}
body{
  background-color: white;
  margin: 0px;
  padding: 0px;
}
